name: Release

on:
  push:
    tags:
      - v*

permissions:
  contents: write

jobs:
  build:
    name: Build Release
    strategy:
      matrix:
        go-version: [ 1.24.3 ]
        os: [ ubuntu-latest ]
      runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          cache: 'false'

      - name: Build Binary
        run: |
          go mod download
          GOOS=linux GOARCH=amd64 go build -o ./fullnode-metrics-push

      - name: Upload Linux Build
        uses: actions/upload-artifact@v4
        with:
          name: linux
          path: ./fullnode-metrics-push

  release:
    name: Release
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Set Env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Download Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux
          path: ./fullnode-metrics-push

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.RELEASE_VERSION }}
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: false
          prerelease: false
          files: |
            ./fullnode-metrics-push